*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   

:root {
  --background:#c2c2c2;
  --container:#b9428d;
  --mainBlue:#be436b;
  --secondColor: #c04548;
  --thirdColor: #c36948;
  --fourColor: #c5914a;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 6em;  
}



.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height:50px;
  margin-top: auto; */
}


/* navbar */


@media only screen and (max-width: 600px) {

  .brand-logo .fa-question-circle {
      margin-top: 17px;
      font-size: 0.8em;
  }
}



/* home screen */

.start-title {
  font-size: 2em;
  margin: 2em 0;
}

.vertical-spacer {
  margin: 3em auto;
}

.home-title {
  margin: 1.4em 0 1em 0;
}



/* Question Item */
.card-title-large {
  font-weight: normal !important;
  font-size: 3em !important;
}

.question-length {
  font-size: 1.6em !important;
  color: rgb(158, 157, 157);
  margin-bottom: 0.8em !important;
}

.card .card-image .card-title {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home-title {
    margin: 1.5em 0 1em 0;
    font-size: 3em;
  
  }
  
}


/* edit quiz */

.quiz-creator-title {
  margin: 3em 0 5em 0;
}

@media only screen and (max-width: 600px) {
  .quiz-creator-title {
    margin: 2em 0 1em 0;
  }
  

}



/* update question */

.update-question-title {
  color: #7e7e7e;
  margin-bottom: 1em;
}

.under-edit-tag {
  font-size: 1.2em;
  color: #bec1ce
}

.question-under-edit {
  -webkit-box-shadow: 0px 0px 24px 4px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 24px 4px rgba(148,148,148,1);
  box-shadow: 0px 0px 24px 4px rgba(148,148,148,1);
  border: 1px dotted rgb(167, 167, 167);
  padding: 1em;
}

.question-not-under-edit {
  opacity: 0.3;
  padding: 1em;
}


/* quiz question */

.sth {
  padding: 1em !important;
}

/* question input */

select.browser-default{
  font-size: 0.8em !important;
  color: #7e7b7b !important;
  border: none;
  border-bottom: 1px solid #9e9e9e;
}




/* quiz details */

.quiz-select {
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}






.option {
  cursor: pointer;
}

.chosen {
  cursor: pointer;
  background-color: green
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: line-through;
}
.fa-times {
  color: red
}

.fa-check {
  color: green;
}